#Header{ 
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: Centered;
  }
#download{
color: Aquamarine;
font-size:16px;
text-allign: center;
}
